.footer-content {
    display: flex;
    justify-content: space-between;
    background-color: #3c3c3c;
    color: white;
    padding: 40px;
    opacity: inherit;
  }
  
  .footer-left p {
    margin-bottom: 20px;
  }
  
  .office-details {
    display: flex;
    justify-content: space-between;
  }
  
  .location {
    margin-right: 50px;
  }
  
  .location a {
    color: white;
    text-decoration: none;
  }
  
  .location a:hover {
    text-decoration: underline;
  }
  
  .footer-extra a {
    color: white;
    text-decoration: none;
  }
  
  .footer-extra a:hover {
    text-decoration: underline;
  }
  
  .social-icons a {
    margin-right: 10px;
    color: white;
  }
  
  .social-icons a:hover {
    color: yellow;
  }
  .footer-container {
    width: 100%;
  }
    