.service-detail-container {
    margin: 15px 0;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #eef4d7;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border-left: 6px solid #3b3c3d;
    position: relative;
    overflow: hidden;
  }
  .service-detail-container.open {
    background-color: #f9faf0;
  }
  .service-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
  .service-title {
    font-size: 20px;
    font-weight: bold;
    color: #5a5858;
    margin: 0;
  }
  .arrow {
    font-size: 24px;
    color: #1c1d1f;
    transition: transform 0.3s ease;
  }
  
  .arrow.open {
    transform: rotate(180deg);
  }
  .service-description-container {
    margin-top: 15px;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .service-description {
    font-size: 18px;
    line-height: 1.7;
    color: #555;
    padding-left: 15px;
    border-left: 4px solid #ecede6;
  }
 
  .service-detail-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    background-color: #f2f5e9;
  }
  
  .service-detail-container.open:hover {
    background-color: #f1f4e8;
  }
  